.nav-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: rgba(0,0,0,.9)!important;
  padding: 0 1rem!important;
  margin: 0;
  height: 10vh;
  border-bottom: 1px solid #FFD861;


  &-title {
    font-weight: bolder;
    color: #FFD861;
    font-size: 150%;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 0.2em 0.2em 0.1em #600, -0.3em 0.1em 0.1em #060, 0.2em -0.2em 0.1em #006;
    font-family: "Roboto Medium", sans-serif;
  }


  &_logo {
    width: 35%;
    margin: 0 40%;

  }

  .navbar-brand {
    width: 10%;
    line-height: inherit;
    white-space: nowrap;

  }

  .basic-navbar {
    margin-left: 30%;

    &-toggle {
      display: flex!important;
      background: rgba(0, 0, 0, 0.9) !important;
      z-index: 3;
      padding-right: 5%;
    }
  }

a {
  color: white;
  font-size: 100%;
  font-weight: 600;
  margin: 2% 5%;
  letter-spacing: 3px;

  &:hover {
    color: dodgerblue;
  }
}

}


@media (max-width: 1024px)  {

  .nav-bar .basic-navbar {
    margin-left: 21%;
  }

}




